<h1>5k Run Wild!</h1>
<h3>Details for 2020

</h3>
<p>If you enjoy running or hiking the woodland trails, you’ll love BNC’s VIRTUAL 5K Run Wild for Wildlife!  For details about this event this year, click on the registration form link on the right.

</p>
<p>The deadline for registrations for participants wanting a super cool T-shirt is Wednesday, April 8

</p>
<p>Registrations with no T-shirts must be postmarked by Thursday, April 16 or dropped off by Tuesday, April 21 at 7pm.

</p>
<p>You can run/hike anytime you want - like in the whole next year!! - but arrows for the course will be set up Saturday, April 25 – Sunday, May 10.

</p>
<p>Please don't all come at once - we must social distance, people! :)  If the parking lot is packed, come back another time!

</p>
<p>Start training now!

</p>

<p class="text-center">Click below for the Registration Form!</p>
<div class="col text-center mb-3">
<a href="pdf/5k-run-registration-form.pdf" target="_blank" class="btn btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Registration Form</a>
</div>

<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item"width="560" height="315" src="https://www.youtube.com/embed/NbOPSxgBZ3M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>