<h1>Admission</h1>
<p>$2.50/person or $10/family</p>
<p>(parents & children under the age of 18 or grandparents & grandchildren under the age of 18)</p>
<h3>Included with your admission are the trails & Interpretive Building!</h3>
<p>  If the building is closed, you may pay your admission by clicking on the "Donate" button on bottom left of this page.  This will allow you to pay through Paypal or with a credit/debit card.

While visiting, you will have full access to the hands-on exhibits, nature shop, tree-top bird vista, nature library, Iddings log house, hiking trails, and over 50 live wildlife ambassadors native to Ohio!

Trails are open sunrise to sunset only.

Sorry, no pets allowed...they scare our wildlife!

BNC Members enjoy FREE admission!

Click below for more information on memberships!</p>

<a href="members.html"><p>Join today as a Member!</p></a>

<h6>The BNC Interpretive Building is closed on most holidays and for special events such as our 5K Run Wild, Haunted Woods and Art of Nature fundraisers.

Please refer to our calendar under "Events" for more details.

 </h6>