<h1>Adopt-a-Release Box</h1>
<h2>Our wildlife rehab patients need your help!</h2>
<p>Your support of our "Adopt-a-Release Box" program will help us to continue to provide hundreds of wildlife rehab patients with the support they need as they return to the wild.  Animals such as Virginia opossums and eastern gray squirrels are provided a release box to help stimulate a natural environment that provides shelter from predators and weather, as well as, a place to rest.

All release box donations are $20.</p>

<p class="text-center">Click below for the Adopt a Release Box form</p>
<div class="col text-center mb-3">
<a href="pdf/adopt-a-release-box-brochure.pdf" target="_blank" class="btn btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Adopt a Release Box</a>
</div>

<p> All adoptions will receive a certificate featuring a photo of your adopted Wildlife Ambassador or our Release Box Ambassador.  A certificate will be ready for pick-up or mailed to recipient in 3 - 5 days.

PLEASE NOTE: if purchasing an adoption for Christmas, we will need adoption forms by December 19.</p>