<h1> Adopt a Tree</h1>
<blockquote class="blockquote">
  <p class="mb-0">“The true meaning of life is to plant trees under whose shade you never expect to sit.”</p>
  <footer class="blockquote-footer">Nelson Henderson</footer>
</blockquote>
<h3>Help us plant native trees at BNC’s

River’s Edge Wildlife Preserve!</h3>

<p>For a simple donation, you can help us purchase and plant a variety of native trees in prime locations, creating a welcoming entrance and future shade for weary hikers!  Each donor or recipient will receive a certificate of appreciation suitable for framing.

You can even ‘plant a tree for the future’ in memory or honor of a loved one!</p>

<a href="pdf/adopt_a_tree.pdf"><p>Click for the Adopt a Tree form</p></a>