<h1>AmazonSmile</h1>
<p>BNC will receive 0.5% of the

purchase price of all eligible

AmazonSmile items and you

can also purchase items from

our Amazon wish list!</p>
<h3>Participating in AmazonSmile is very simple.</h3>
<ul>
    <li>Simply login to AmazonSmile, just like you’re shopping for yourself, you will then be prompted to select your charity, like Brukner Nature Center. Everything else about your Amazon shopping experience will remain the same.</li>
    <li>To view our wishlist on Amazon, go to the upper right of the screen and click on "Wish List" menu.</li>
    <li>Scroll down to “find a wish list” and click.</li>
    <li>Enter our e-mail address: info@bruknernaturecenter.com</li>
    <li>It will take you right to our wish list.</li>
    <li>Simply click the “add to cart” button to add an item to your personal shopping cart!</li>
</ul>
<p>Questions, please call <a href="tel:9376986493">937-698-6493</a></p>