<h1>Arts & Crafts Show</h1>
<h3 class="text-danger">Cancelled this year due to Covid-19</h3>
<p>9:00am-4:00pm</p>
<p>Don’t miss Brukner Nature Center’s annual Winter Arts & Crafts Show, a Miami Valley holiday tradition for over 25 years!  You’ll find hundreds of one-of-a-kind nature-inspired gifts for that special someone on your list.  Come spend the whole day shopping the booths of over 50 local artisans and purchase raffle tickets for a chance to bring one of their donated items home with you!  Homemade pie and coffee, as well as, sustainably harvested mistletoe are available for purchase.  All proceeds benefit the wildlife programs at BNC.

</p>
<p>Free and open to the public!

</p>
<a href="pdf/bnc_arts-crafts-show_entry-form.pdf"><p>Interested in becoming a vendor? Click here!</p></a>
<p>If you are a new vendor and would like to be contacted for our 2021 show, please email  <a href="mailto:info@bruknernaturecenter.com">info@bruknernaturecenter.com</a>

</p>