<h1>Bird Watching</h1>
<h3>Tree-Top Bird Vista</h3>
<p>Brukner Nature Center is a premiere birding spot for spring bird migration, winter feeder watching (Project FeederWatch) and enjoying birds at any time of the year! The Tree-Top Bird Vista is an air-conditioned oasis during summer months and a warm and inviting place to spend the winter hours! The pileated woodpecker visits our feeders on a regular basis year round!</p>
<p>Check out our calendar of events for upcoming birding programs! Meet member of the Brukner Bird Club on the 3rd Sunday of every month from 2:00-4:00pm in our Tree Top Bird Vista.</p>