<h1>Bird watch pledge</h1>
<h2>Pledge the Big Sit</h2>
<p>Join the BNC Bird Club as we sit in a 17 foot circle in the BNC parking lot and tally the bird species seen or heard from that small island!  This fundraiser supports our wildlife education programs and we are currently accepting pledges for each species seen (hint, hint: our record is 54 species!)  This annual fundraising event is held each May and our goal is to encourage others (especially kids) to experience the fun of this lifelong hobby of birdwatching.</p>
<h3>Want to support us and make a pledge?</h3>
<p>It’s simple, just email us with your pledge per species amount and we’ll let you know how many different species we see that day!</p>
<h3>Did you know that we have our very own Young Birder’s club?</h3>
<p>So bring the kids, come see our resident bald eagel, learn the call of the easter phoebe, watch a bird build a nest, then make a pledge for each species we record and make a difference for weildlife education!</p>
<p>We need your support!</p>