<h1>Birthday parties</h1>
<div class="row">
    <div class="col-md-8">
        <h3>A fun, yet educational celebration!

        </h3>
        <p>Come celebrate your preschool or school-aged child’s birthday with their friends and our Wildlife Ambassadors!

        </p>
        <p>An awe-inspiring BNC Naturalist will provide a half-hour, hands-on, live wildlife program to make your child's party unforgettable!!  A large classroom is available for you to decorate, have cake and ice cream and play games with up to 15 of your child’s friends!  Party favors can be purchased in the Nature Shop and the trails and displays are available for your use.

        </p>
    </div>
    <div class="col-md-4">
        <img src="img/party.jpg" alt="birthday party" class="img-fluid" />
    </div>
</div>
            <p>To schedule a party, call <a href="tel:9376986493">937-698-6493</a> or click on the link below for complete party details!

</p>
<div class="col text-center mb-3">
<a href="pdf/birthday_parties2.pdf" target="_blank" class="btn btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Birthday Parties!</a>
</div>

<p>A second party option is available for parties over 20 people.  Please call to check on dates and complete the Facility Application below.

</p>

<div class="col text-center mb-3">
<a href="pdf/bnc-facility-brochure.pdf" target="_blank" class="btn btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Facility Application</a>
</div>
