<h1>Brochures</h1>
<h3>Living with Wildlife</h3>
<p>Thanks to the Kenneth A. Scott Charitable Trust, Brukner Nature Center has developed 13 species-specific brochures to help you live with the wildlife in your own backyard!

</p>
<p>Each brochure provides you with background information regarding the animal, ways to prevent problems from arising, recommended deterrents, laws protecting each wildlife, and other valuable information.  All brochures are listed to the right.  Simply click on the name and it will open a pdf file for you to review.

</p>
<ul>
    <a href="pdf/wildlife-brochure-beavers.pdf"><li>Beavers</li></a>
    <a href="pdf/wildlife-brochure-chipmunks-and-squirrels.pdf"><li>Chipmunks and Ground Squirrels</li></a>
    <a href="pdf/wildlife-brochure-coyotes-and-fox.pdf"><li>Coyotes and Fox</li></a>
    <a href="pdf/wildlife-brochure-eastern-cottontails.pdf"><li>Eastern Cottontails</li></a>
    <a href="pdf/wildlife-brochure-raccoons.pdf"><li>Raccoons</li></a>
    <a href="pdf/wildlife-brochure-skunks.pdf"><li>Skunks</li></a>
    <a href="pdf/wildlife-brochure-songbirds.pdf"><li>Songbirds</li></a>
    <a href="pdf/wildlife-brochure-tree-squirrels.pdf"><li>Tree Squirrels</li></a>
    <a href="pdf/wildlife-brochure-virginia-opossum.pdf"><li>Virginia Opossums</li></a>
    <a href="pdf/wildlife-brochure-waterfowl.pdf"><li>Waterfowl</li></a>
    <a href="pdf/wildlife-brochure-white-tailed-deer.pdf"><li>White-tailed Deer</li></a>
    <a href="pdf/wildlife-brochure-woodchucks.pdf"><li>Woodchucks</li></a>
    <a href="pdf/wildlife-brochure-woodpeckers.pdf"><li>Woodpeckers</li></a>
    <a href="pdf/wildlife-brochure-wild-babies.pdf"><li>Wild Babies</li></a>
</ul>
<p>If you have any questions , please give us a call at <a href="tel:9376986493">937-698-6493.</a>

</p>