<h1>Brochures</h1>
<h3>Living with Wildlife</h3>
<p>Thanks to the Kenneth A. Scott Charitable Trust, Brukner Nature Center has developed 13 species-specific brochures to help you live with the wildlife in your own backyard!

</p>
<p>Each brochure provides you with background information regarding the animal, ways to prevent problems from arising, recommended deterrents, laws protecting each wildlife, and other valuable information.  All brochures are listed to the right.  Simply click on the name and it will open a pdf file for you to review.</p>
<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="img/babies_brochure.jpg" class="card-img-top" alt="Babies Brochure">
      <div class="card-body text-center">
        <h5 class="card-title">Wild Babies Brochure</h5>
        <div class="col text-center mb-3">
        <a href="pdf/wildlife-brochure-wild-babies.pdf" target="_blank" class="btn btn-sm btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">See Brochure</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="img/beaver_brochure.jpg" class="card-img-top" alt="Beaver Brochure">
      <div class="card-body text-center">
        <h5 class="card-title">Beaver Brochure</h5>
        <div class="col text-center mb-3">
        <a href="pdf/wildlife-brochure-beavers.pdf" target="_blank" class="btn btn-sm btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">See Brochure</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="img/chipmunk_brochure.jpg" class="card-img-top" alt="Chipmunk Brochure">
      <div class="card-body text-center">
        <h5 class="card-title">Chipmunk Brochure</h5>
        <div class="col text-center mb-3">
        <a href="pdf/wildlife-brochure-chipmunks-and-squirrels.pdf" target="_blank" class="btn btn-sm btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">See Brochure</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
  <div class="card h-100">
      <img src="img/deer_brochure.jpg" class="card-img-top" alt="Deer Brochure">
      <div class="card-body text-center">
        <h5 class="card-title">Deer Brochure</h5>
        <div class="col text-center mb-3">
        <a href="pdf/wildlife-brochure-white-tailed-deer.pdf" target="_blank" class="btn btn-sm btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">See Brochure</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
  <div class="card h-100">
      <img src="img/fox_brochure.jpg" class="card-img-top" alt="Fox Brochure">
      <div class="card-body text-center">
        <h5 class="card-title">Coyotes and Fox Brochure</h5>
        <div class="col text-center mb-3">
        <a href="pdf/wildlife-brochure-coyotes-and-fox.pdf" target="_blank" class="btn btn-sm btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">See Brochure</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
  <div class="card h-100">
      <img src="img/opossum_brochure.jpg" class="card-img-top" alt="Opossum Brochure">
      <div class="card-body text-center">
        <h5 class="card-title">Opossum Brochure</h5>
        <div class="col text-center mb-3">
        <a href="pdf/wildlife-brochure-virginia-opossum.pdf" target="_blank" class="btn btn-sm btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">See Brochure</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
  <div class="card h-100">
      <img src="img/rabbit_brochure.jpg" class="card-img-top" alt="Rabbit Brochure">
      <div class="card-body text-center">
        <h5 class="card-title">Eastern Cottontails Brochure</h5>
        <div class="col text-center mb-3">
        <a href="pdf/wildlife-brochure-eastern-cottontails.pdf" target="_blank" class="btn btn-sm btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">See Brochure</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
  <div class="card h-100">
      <img src="img/skunk_brochure.jpg" class="card-img-top" alt="Skunk Brochure">
      <div class="card-body text-center">
        <h5 class="card-title">Skunk Brochure</h5>
        <div class="col text-center mb-3">
        <a href="pdf/wildlife-brochure-skunks.pdf" target="_blank" class="btn btn-sm btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">See Brochure</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
  <div class="card h-100">
      <img src="img/songbird_brochure.jpg" class="card-img-top" alt="Songbirds Brochure">
      <div class="card-body text-center">
        <h5 class="card-title">Songbirds Brochure</h5>
        <div class="col text-center mb-3">
        <a href="pdf/wildlife-brochure-songbirds.pdf" target="_blank" class="btn btn-sm btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">See Brochure</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
  <div class="card h-100">
      <img src="img/squirrel_brochure.jpg" class="card-img-top" alt="Squirrel Brochure">
      <div class="card-body text-center">
        <h5 class="card-title">Tree Squirrels Brochure</h5>
        <div class="col text-center mb-3">
        <a href="pdf/wildlife-brochure-tree-squirrels.pdf" target="_blank" class="btn btn-sm btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">See Brochure</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
  <div class="card h-100">
      <img src="img/waterfowl_brochure.jpg" class="card-img-top" alt="Waterfowl Brochure">
      <div class="card-body text-center">
        <h5 class="card-title">Waterfowl Brochure</h5>
        <div class="col text-center mb-3">
        <a href="pdf/wildlife-brochure-waterfowl.pdf" target="_blank" class="btn btn-sm btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">See Brochure</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
  <div class="card h-100">
      <img src="img/woodchuck_brochure.jpg" class="card-img-top" alt="Woodchuck Brochure">
      <div class="card-body text-center">
        <h5 class="card-title">Woodchuck Brochure</h5>
        <div class="col text-center mb-3">
        <a href="pdf/wildlife-brochure-woodchucks.pdf" target="_blank" class="btn btn-sm btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">See Brochure</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
  <div class="card h-100">
      <img src="img/woodpecker_brochure.jpg" class="card-img-top" alt="Woodpeckers Brochure">
      <div class="card-body text-center">
        <h5 class="card-title">Woodpeckers Brochure</h5>
        <div class="col text-center mb-3">
        <a href="pdf/wildlife-brochure-woodpeckers.pdf" target="_blank" class="btn btn-sm btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">See Brochure</a>
        </div>
      </div>
    </div>
  </div>
  
</div>

<p>If you have any questions , please give us a call at <a href="tel:9376986493">937-698-6493.</a>
</p>