<h1>Combined Federal Campaign</h1>
<p> Brukner Nature Center is happy to announce that we are a participating agency in the Combined Federal Campaign of both the Miami Valley Region and the Heart of Ohio region (CFC #25234).  The mission of the CFC is to support and promote philanthropy through a voluntary program that is employee-focused, cost-efficient and effective in providing all Federal employees the opportunity to improve the quality of life for all.  Please designate your gift to Brukner Nature Center and support our mission of environmental education and wildlife rehabilitation.  Thank you!

</p>
<a href="https://cfcgiving.opm.gov/welcome"><p>Click to go to cfcgiving donor system</p></a>
<img class="img-fluid" src="img/cfc_logo.png" alt="cfc logo" />