<h1>Dine to Donate</h1>
<h2>Support the wildlife ambassadors at Brukner Nature Center by eating out!</h2>
<p>Did you know that it costs over $1,000 every year just to feed our 50 permanent wildlife ambassadors?
From mealworms for the spotted salamanders to Zupreme for the bobcat, it all adds up. 
So take your family and friends out to eat each month and support Brukner nature Center!</p>

<p class="text-center">Click below for the next Dine to Donate opportunity</p>
<div class="col text-center mb-3">
<a href="pdf/dine_to_donate2.pdf" target="_blank" class="btn btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Dine to Donate</a>
</div>