<h1>Directions</h1>
<h3>Directions to the Interpretive Building</h3>
<p>5995 Horseshoe Bend Rd., Troy, OH 45373

From I-75 take exit 73.  Go west on St. Rt. 55 for 2.4 miles. Turn right onto Horseshoe Bend Rd. and go 2.1 miles.  The entrance will be on the right.</p>
<h3>Directions to the Calumet Property</h3>
<p>3909 Calumet Rd., West Milton, OH 45383

Our new satellite preserve is open to the public from sunrise to sunset every day of the year and is located just a few miles southwest of us.  To get there, turn left out of Brukner Nature Center then take the first right (Greenlee Rd.) which will dead end into St. Rt. 55.  Turn right and follow 55 over the Stillwater River.  Turn left on Calumet Rd. immediately after crossing the bridge.  The parking area will be on your left.  The gravel lot provides space for 10 cars and access to a paver walkway leading to an information panel and our only trailhead, the Cascades Loop.</p>

<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d809.7504706801476!2d-84.316804!3d40.009286!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf7b9b814a3b5fecd!2sBrukner%20Nature%20Center!5e1!3m2!1sen!2sus!4v1606694097967!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>