<h1>Haunted Woods</h1>
<h3 class="text-danger">Cancelled due to covid-19</h3>
<p>Come enjoy a kid-friendly evening filled live wildlife and costumed characters along a luminary-lit trail as you and your family learn all about the wild creatures of the night.  But the fun doesn’t stop there; activities also include free face painting, crafts and games, wildlife viewing, storytelling at a campfire plus cookies and cider after the hike.
*Held indoors for inclement weather!


</p>
<h5>Cost</h5>
<p>$5 per person for BNC Members

</p>
<p>$7 per person for non-members.

</p>
<p>Children ages 2 and under are free!

(cash or check only)

 </p>
 <h5>Gates open at 6:00pm

Trail times: 6:30-8:00pm</h5>
<p>A group of 20 people is led by a trail guide through the woods, with the last group leaving at 8:00pm.  Estimated time on the trails is 45 minutes.

</p>
<p>Tickets are available on a first-come, first-served basis handed out in the order that you arrive at our entrance that evening.  Parking is limited.

</p>