<h1>Hike a Trail!</h1>
<p>Brukner Nature Center has 6 miles of nature trails that allow you to search for wildlife on quiet mulch trails through wooldland, wetland, and prairie.

</p>
<ul>
    <li>Trails are open from sunrise to sunset only!
</li>
    <li>No pets allowed - they scare our wildlife!
</li>
    <li>No smoking or vaping on BNC property!
</li>
<li>Please stay on the trails, especially through the muddy parts!  Off-trail exploration causes erosion, damages wildflowers, & depletes habitat by widening trails.
</li>
<li>
    Please take all trash home with you!

</li>
</ul>


<a href="pdf/trail-map-layout-1.pdf"><p>Click to download a trail map</p></a>
<div class="row">
    <div class="col-md-6">
        <img class="img-fluid" src="img/trail-map-layout-1-2.jpg" alt="trail map" />
    </div>
    <div class="col-md-6">
        <canvas class="canvas"></canvas>
    </div>
</div>
<script src="js/canvas.js"></script>