<h1 class="mt-5">Our Mission</h1>
<p class="mt-3">Brukner Nature Center is a non-profit privately funded organization promoting the appreciation and understanding of wildlife conservation through preservation, education, and rehabilitation.
    Nonmembers may use the “Donate” button or the Drop-box by our front door to pay for their admission for the trails.
    Sorry, no pets allowed… they scare our wildlife!
</p>
<div class="mt-3 embed-responsive embed-responsive-16by9">
    <iframe class="embed-resopnsive-item" src="https://www.youtube.com/embed/PB3kLwRZ0P8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<h1 class="mt-5">Fall Art Gallery</h1>
<p class="mt-3">Featuring quilt work by Lisa Hoblit, a textile artist who has been transforming fabric into quilts for more than twenty-five years!
    The natural world often serves as inspiration to create her own designs. Reusing, repurposing, and recycling fabric remains a key interest. While the use of scavenged materials is challenging, it satisfies a need to use available supplies in a productive, creative, and meaningful way.
    Exhibit is free for BNC Members or $2.50/person for nonmembers. Exhibit will run through Sunday, December 20 with pick-up beginning Monday, December 21 – just in time for Christmas!
    Hours are by appointment.            
</p>
<img class="img-fluid" src="img/salamander.jpg" alt="salamander" />