<div class="row align-items-center">
    <div class="col-md-8">
        <h1 class="mt-5">Our Mission</h1>

        <p class="mt-3">Brukner Nature Center is a non-profit privately funded organization promoting the appreciation and understanding of wildlife conservation through preservation, education, and rehabilitation.
            Nonmembers may use the “Donate” button or the Drop-box by our front door to pay for their admission for the trails.
            Sorry, no pets allowed… they scare our wildlife!
        </p>
                <h3 class="m-3">"It's about wildlife!"</h3>
    </div>
    <div class="col-md-4">
        <img class="img-fluid" src="img/salamander.jpg" alt="salamander" />
    </div>
</div>
<div class="row align-items-center">
    <div class="col-md-4">
        <img class="img-fluid" src="img/mouse.jpg" alt="mouse" />
    </div>
    <div class="col-md-8">
        <h1 class="mt-5">Membership</h1>
        <p class="mt-3">Your membership supports our mission to promote the appreciation and understanding of wildlife conservation through preservation, education, and rehabilitation. Benefits of membership include free admission seven days a week, bi-monthly newsletter – The Gray Fox Gazette, reduced fees on programs, reciprocal admission to over 170 other nature centers across the U.S., 10% discount in our Nature Shop and full use of our Nature Library!
        </p>
    </div>
</div>

<div class="mt-3 embed-responsive embed-responsive-16by9">
    <iframe class="embed-resopnsive-item" src="https://www.youtube.com/embed/PB3kLwRZ0P8?modestbranding=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

