<h1>Kroger Community Rewards Program</h1>
<p>Please consider registering your Kroger Plus Card for the Kroger Community Rewards Program! This is a very easy way for you to help Brukner Nature Center earn money when you shop and it doesn’t affect your bill or Kroger Plus Points. Steps are provided below. As always, thank you for all your support!</p>
<h3>If you currently have a Kroger Plus Card</h3>
<ul>
    <li>Login to your Kroger account, go to “Community”, then “Kroger Community Regards”</li>
    <li>Click “Enroll Now” and search for Brukner Nature Center using our 5 digit number IC098</li>
    <li>You will be asked to verify your email address and that will complete your registration.</li>
    <li>If you use your phone # for your Kroger Plus Card</li>
</ul>
<p>Please call <a href="tel:8005764377">800-576-4377</a>, select option 4 to get your Kroger Plus card number. Follow the steps above to enroll your card in the Kroger Community Rewards program.</p>
<h3>Don’t have a Kroger Plus Card?</h3>
<p>Cards are available at the customer service desk at any Kroger. Then register your card online at www.krogercommunityrewards.com. </p>
<ul>
    <li>Click on “Sign In/Register” Click “Sign up today” in the “New Customer?” box.</li>
    <li>Sign up for a Kroger Rewards Account by entering your zip code, clicking on your favorite store, entering your email address and creating a password. You will then get a message to check your email and click on the link.</li>
    <li>Click on “My Account” and use your email address and password to proceed to the next step. Click on “Edit Kroger Community Rewards Information” and input your Kroger Plus card number.</li>
    <li>Update or confirm your information. Enter the NPO number (IC098) or Brukner Nature Center and click on confirm.</li>
    <li>To verify you are enrolled, you will see Brukner Nature Center on the right side of the information page.</li>
</ul>
<p>Remember you must swipe your Kroger Plus Card or use the phone number that is related to your registered Kroger Plus card each time you shop for every purchase to count!</p>