<h1>Leave a Legacy</h1>
<p>In order to continue our mission, we need financial long-term financial assistance from people like you.  By leaving a legacy through a gift in your will, you can continue to help us reach our goals far into the future.  Your gift is a lasting tribute.

</p>
<blockquote class="blockquote">
  <p class="mb-0">"We make a living by what we get, but we make
a life by what we give"</p>
  <footer class="blockquote-footer">Winston Churchill</footer>
</blockquote>