<h1>Monarch Celebration</h1>
<h3>6th Annual Monarch Celebration</h3>
<h5>Covid-19 Style!</h5>
<p>Our celebration will take place the entire month of September to allow for social distancing!

</p>
<p>Through the sponsorship of the Troy Noon Optimists, we are able to continue celebrating Monarchs - a big shout out goes to all of them!

</p>

<h3>Family friendly activities include</h3>
<ol>
    <li>Hike the Sugar Bush Trail around Cattail Pond and enjoy the self-guided Monarch trail, developed specially for the Monarch Celebration!</li>
    <li>Follow our Facebook posts on Monarchs for cool facts and interesting info!</li>
    <li>Fill out the Monarch Quiz Sheet - found at bottom. (Pssst - Answers can be found along the “Monarch Celebration” trail and/or Facebook posts!)

</li>
</ol>
<p>Completed forms can be placed in the envelope on the front door of the Interpretive Center by October 5 to be included in a drawing for fun prizes!

</p>
<a href="pdf/monarch-quiz.pdf"><p>Click for Monarch Quiz Sheet</p></a>