<h1>Photo Contest</h1>
<p>There will be no photo contest this year as we will have a quilt exhibit, by Lisa Hoblit, on display in the Heidelberg Auditorium.

</p>
<p>Please check back with us next fall for details on the photo contest.

</p>
<p class="text-center">Click below for the Entry Form</p>
<div class="col text-center mb-3">
<a href="pdf/photo-contest-brochure.pdf" target="_blank" class="btn btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Entry Form</a>
</div>
