<h1>Photo Contest</h1>
<p>There will be no photo contest this year as we will have a quilt exhibit, by Lisa Hoblit, on display in the Heidelberg Auditorium.

</p>
<p>Please check back with us next fall for details on the photo contest.

</p>
<a href="photo-contest-brochure"><p>Click here for Entry Form! </p></a>