<h1>Preschool</h1>
<h3>Peep Preschool Enviornmental Education Program</h3>
<p>Open registration for Winter 1 session begins November 23

</p>
<p>Give the child in your life the gift to play, learn and grow with nature! Let them experience the outdoors using their imagination, free to climb trees and crawl over logs!

</p>
<p>We are planning our PEEP Winter Session 1 as an in-person class with a few changes! Class sizes will be limited to 10 children and the classes will be 1.5 hours of mostly outdoor activity (always dress for the weather - winter coat, boots, gloves, etc).  Please note that PEEP is geared specifically for children ages 3 – 5 years old, who are potty-trained and not currently in Kindergarten or being homeschooled.  We will be following the state guidelines for covid-19.

</p>
<p>Sessions offered: Monday, Tuesday, Wednesday, Thursday, and Friday mornings from 9:30 – 11:00am, or Thursday afternoons from 1:00 – 2:30pm.

</p>
<p>Winter 1 session will run from Jan. 4 - Feb.12.

</p>

<p>
    Cost for PEEP Winter 1 Session:

$55 for BNC Members per child

$75 for nonmembers per child

(CASH OR CHECK ONLY)
</p>

<p>To pre-register, please call <a href="tel:9376986493">(937) 698-6493</a> Monday - Friday, or email <a href="info@bruknernaturecenter.com">info@bruknernaturecenter.com</a>

</p>