<h1>Rivers Edge</h1>
<div class="row">
    <div class="col-md-8">
        <p>Open from sunrise to sunset and is located just a few miles southwest of us.

        </p>
        <p>Directions from BNC to River's Edge Wildlife Preserve:

        </p>
        <p>Turn left out of Brukner Nature Center then take the first right onto Greenlee Rd., which will dead end into St. Rt. 55.  Turn right and follow S.Rt. 55 over the Stillwater River.  Turn left on Calumet Rd. immediately after crossing the bridge.  The parking area will be on your left.

        </p>
    </div>
    <div class="col-md-4">
        <img src="img/turtle2.jpg" class="img-fluid" alt="turtle" />
    </div>
</div>
<p>The gravel lot provides space for 10 cars and access to a paver walkway leading to an information panel and our first and only trailhead, the Cascades Loop.  Enjoy this hike as it follows the crest of the ravine, providing excellent opportunities for birdwatching in the treetops below!  It then passes a small limestone cascade that flows only in the wetter months, but is a unique ecosystem supporting rare flora and fauna.  The trail follows an old access road down into the forested valley then back up a gently sloping rise back to the parking lot.

</p>
<p>
    Sorry, no pets are allowed.
No restrooms are available on-site.
</p>