<h1>Schools</h1>
<h3>Field Trips/Outreach Programs</h3>
<p>We offer a number of outreach programs for students, including our popular Wildlife Encounter featuring our wildlife ambassadors.

</p>
<p>Click the link below for more information</p>

<div class="card-group">
  <div class="card">
    <div class="card-body text-center">
        <h5 class="card-title">Compass Program</h5>
        <p class="text-center">Click below for the Compass Program</p>
        <a href="pdf/compass.pdf" target="_blank" class="btn btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Learn More</a>
    </div>
    <div class="card-footer">
        <small>If you would like to schedule a program for your school, facility, library, or special event, please contact us at <a href="mailto:info@bruknernaturecenter.com">info@bruknernaturecenter.com</a> or <a href="tel:9376986493">937-698-6493</a></small>
    </div>
  </div>
  <div class="card">
    <div class="card-body text-center">
        <h5 class="card-title">Wildlife Encounters Program</h5>
        <p class="text-center">Click below for the Wildlife Encounters Program</p>
        <a href="pdf/wildlife_encounters.pdf" target="_blank" class="btn btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Learn More</a>
    </div>
    <div class="card-footer">
        <small>If you would like to schedule a program for your school, facility, library, or special event, please contact us at <a href="mailto:info@bruknernaturecenter.com">info@bruknernaturecenter.com</a> or <a href="tel:9376986493">937-698-6493</a></small>
    </div>
  </div>
</div>

<div class="row justify-content-center mt-5">
    <div class="card w-75">
        <div class="card-body text-center">
            <h4 class="card-title">Home School Programs</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">For homeschooled or online kids 5 - 11 years old
                </li>
                <li class="list-group-item">Classes offered the 2nd Wednesday, 3rd Wednesday, and Thursday following the 3rd Wednesday of the month (September - May)
                </li>
                <li class="list-group-item">Each month, students explore a different hands-on wildlife topic.
                </li>
            </ul>
            <h5 class="card-title">Sessions Available</h5>
            <p>Morning: 9:30 - 11:00am; 9:45 - 11:15am</p>
            <p>Afternoon: 2:00 - 3:30pm; 2:15 - 3:45pm</p>

            <h5 class="card-title">Cost/Month</h5>
            <p>BNC Members: $3.00/per child</p>
            <p>Non-Members: $6.00/per child</p>
            <p>(CASH OR CHECK ONLY)</p>
            <h5 class="card-title">HSNC flyer</h5>
            <p class="text-center">Click below for the HSNC flyer</p>
            <a href="pdf/homeschool_nature_club.pdf" target="_blank" class="btn btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Learn more</a>
        </div>
        <div class="card-footer text-center">
            <small>We will be following the state guidelines for covid-19 - currently all kids in grades K - 12th are required to wear a face mask while inside the building.</small>
        </div>
    </div>
</div>

<div class="row justify-content-center mt-5">
    <div class="card w-75">
        <div class="card-body text-center">
            <h4 class="card-title">River's Edge Explorers</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">For kids ages 12 - 17 years old
                </li>
                <li class="list-group-item">One class each season: fall, winter, & spring
                </li>
                <li class="list-group-item">Held 2:00-4:00pm at River's Edge Wildlife Preserve
                </li>
                <li class="list-group-item">Learn how various species of native Ohio wildlife interact and survive within their environment by exploring various habitats at our River's Edge Wildlife Preserve.
                </li>
            </ul>
            <h5 class="card-title">Sessions Available</h5>
            <p>Morning: 9:30 - 11:00am; 9:45 - 11:15am</p>
            <p>Afternoon: 2:00 - 3:30pm; 2:15 - 3:45pm</p>

            <h5 class="card-title">Cost/Season</h5>
            <p>BNC Members: $3.00/per child</p>
            <p>Non-Members: $6.00/per child</p>
            <p>(CASH OR CHECK ONLY)</p>

            <h5 class="card-title">Links</h5>
            <a href="pdf/rivers_edge_explorers.pdf" target="_blank" class="btn btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Learn more</a>
            <a href="pdf/bnc_medical-consent-form.pdf" target="_blank" class="btn btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Medical Consent Form</a>
        </div>
        <div class="card-footer text-center">
            <small>Medical consent form must be completed before attending any of our programs</small>
        </div>
    </div>
</div>