<h1>Schools</h1>
<h3>Field Trips/Outreach Programs</h3>
<p>We offer a number of outreach programs for students, including our popular Wildlife Encounter featuring our wildlife ambassadors.

</p>
<p>Click the link below for more information</p>
<a href="pdf/compass.pdf"><p>Click for Compass Program</p></a>
<a href="pdf/wildlife_encounters.pdf"><p>Click for Wildlife Encounters Program</p></a>

<p>If you would like to schedule a program for your school, facility, library, or special event, please contact us at <a href="mailto:info@bruknernaturecenter.com">info@bruknernaturecenter.com</a> or <a href="tel:9376986493">937-698-6493</a></p>
<h3>Home School Programs</h3>
<h5>Homeschool Nature Club - registration open!</h5>
<ul>
    <li>For homeschooled or online kids 5 - 11 years old
</li>
<li>Classes offered the 2nd Wednesday, 3rd Wednesday, and Thursday following the 3rd Wednesday of the month (September - May)
</li>
<li>Each month, students explore a different hands-on wildlife topic.
</li>
</ul>
<h5>Sessions Available</h5>
<p>Morning: 9:30 - 11:00am; 9:45 - 11:15am

</p>
<p>Afternoon: 2:00 - 3:30pm; 2:15 - 3:45pm

</p>
<p>We will be following the state guidelines for covid-19 - currently all kids in grades K - 12th are required to wear a face mask while inside the building.

</p>
<p>Cost/Month:

BNC Members:

$3.00/per child

Non-members:

$6.00/per child

(CASH OR CHECK ONLY)</p>
<p>To pre-register:

Call <a href="9376986493">(937) 698-6493</a> or

Email: <a href="mailto:info@bruknernaturecenter.com">info@bruknernaturecenter.com</a>

Deadline: Monday prior to class.</p>
<a href="pdf/homeschool_nature_club.pdf"><p>Click here for HSNC flyer</p></a>
<h3>River's Edge Explorers</h3>
<ul>
    <li>For kids ages 12 - 17 years old
</li>
<li>One class each season: fall, winter, & spring
</li>
<li>Held 2:00-4:00pm at River's Edge Wildlife Preserve
</li>
<li>Learn how various species of native Ohio wildlife interact and survive within their environment by exploring various habitats at our River's Edge Wildlife Preserve.

</li>
</ul>
<p>Cost/Season:

BNC Members:

$3.00/per child

Non-members:

$6.00/per child</p>
<p>Payment due at registration

(cash or check only)

Deadline:

Monday prior to each class.</p>
<a href="pdf/rivers_edge_explorers.pdf"><p>Click here for this years dates!</p></a>
<a href="pdf/bnc_medical-consent-form.pdf"><p>Click here for Medical Consent Form</p></a>
<p>Must be completed before attending any of our programs</p>