<h1>Scouting</h1>
<p>Brukner Nature Center is dedicated to providing hands-on educational programs to meet the needs of scout leaders through guided discovery of our natural world.  We work in small group settings and strive to encourage boy and girl scouts, igniting a spark of interest in wildlife and wild places!

</p>
<p>We offer a variety of field trips, awe-inspiring overnight adventures, outreach programs at your location and even an awesome hands-on evening program!

</p>

<p class="text-center">Click below for Scout Brochure</p>
<div class="col text-center mb-3">
<a href="pdf/scout_program_brochure.pdf" target="_blank" class="btn btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Scout Brochure</a>
</div>

<div class="row justify-content-center mt-5">
    <div class="card w-75">
        <div class="card-body text-center">
            <h4 class="card-title">Girl Scouts</h4>
            <p class="text-center">Click below for the Brownie's Nocturnal Adventure</p>
            <div class="col text-center mb-3">
            <a href="pdf/nocturnal_adventure_brownies.pdf" target="_blank" class="btn btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Learn More</a>
            </div>
            <p class="text-center">Click below for Junior's Overnight</p>
            <div class="col text-center mb-3">
            <a href="pdf/juniors_overnight.pdf" target="_blank" class="btn btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Learn More</a>
            </div>
        </div>
        <div class="card-footer text-center">
            <small>**Evening outreach programs are case by case; please call for pricing information.</small>
        </div>
    </div>
</div>

<div class="row justify-content-center mt-5">
    <div class="card w-75">
        <div class="card-body text-center">
            <h4 class="card-title">Boy Scouts/Cub Scouts</h4>
            <p class="text-center">Click below for the Nocturnal Wildlife Adventure</p>
            <div class="col text-center mb-3">
            <a href="pdf/nocturnal_adventure_brownies.pdf" target="_blank" class="btn btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Learn More</a>
            </div>
            <p>We are also happy to work with groups and individuals who would like to volunteer community service hours, complete an Eagle Scout project or any other projects or service! We can use your help!</p>
            <p>Send a detailed email to schedule a meeting!</p>
            <p>Deb Oexmann, Executive Director</p>
            <p><a href="mailto:deb@bruknernaturecenter.com">deb@bruknernaturecenter.com</a></p>
        </div>
        <div class="card-footer text-center">
            <small>**Evening outreach programs are case by case; please call for pricing information.</small>
        </div>
    </div>
</div>