<h1>Scouting</h1>
<p>Brukner Nature Center is dedicated to providing hands-on educational programs to meet the needs of scout leaders through guided discovery of our natural world.  We work in small group settings and strive to encourage boy and girl scouts, igniting a spark of interest in wildlife and wild places!

</p>
<p>We offer a variety of field trips, awe-inspiring overnight adventures, outreach programs at your location and even an awesome hands-on evening program!

</p>
<a href="pdf/scout_program_brochure.pdf"><p>Click for Scout Brochure</p></a>
<p>**Evening outreach programs are case by case; please call for pricing information.

</p>
<h3>Girl Scouts</h3>
<a href="pdf/nocturnal_adventure_brownies.pdf"><p>Click for Brownie's Nocturnal Adventure</p></a>
<a href="pdf/juniors_overnight.pdf"><p>Click for Junior's Overnight</p></a>

<h3>Boy Scouts/Cub Scouts</h3>
<a href="pdf/nocturnal-wildlife-adventure.pdf"><p>Click for Nocturnal Wildlife Adventure</p></a>
<p>We are also happy to work with groups and individuals who would like to volunteer community service hours, complete an Eagle Scout project or any other projects or service!  We can use your help!

</p>
<p>Send a detailed email to schedule a meeting!</p>
<p>Deb Oexmann, Executive Director</p>
<p><a href="mailto:deb@bruknernaturecenter.com">deb@bruknernaturecenter.com</a></p>