<h1>Staff</h1>

<div class="card-group text-center">
  <div class="card">
    <div class="ratio ratio-1x1">
        <img class="img-fluid rounded ratio ratio-1x1" src="img/deb2.jpg" alt="Deb Oexmann" />
    </div>
    <div class="card-body">
        <h5 class="card-title">Deb Oexmann</h5>
        <h6 class="card-text">Executive Director</h6>
        <p class="card-text"><small class="text-muted"><a href="mailto:deb@bruknernaturecenter.com">deb@bruknernaturecenter.com"</a></small></p>
    </div>
    <div class="card-footer">
      <span><i class="fas fa-phone"></i></span>
        <a href="tel:9076986493">(907) 698-6493</a>
    </div>
  </div>
  <div class="card">
    <div class="ratio ratio-1x1">
    <img class="img-fluid rounded" src="img/becky2.jpg" alt="Becky Crow" />
    </div>
    <div class="card-body">
        <h5 class="card-title">Becky Crow</h5>
        <h6 class="card-text">Curator of Wildlife</h6>
        
        <p class="card-text"><small class="text-muted"><a href="mailto:wildlife@bruknernaturecenter.com">wildlife@bruknernaturecenter.com"</a></small></p>
    </div>
    <div class="card-footer">
        <span><i class="fas fa-phone"></i></span>
        <a href="tel:9076986493">(907) 698-6493</a>
    </div>
  </div>
  <div class="card">
    <div class="ratio ratio-1x1">
        <img class="img-fluid rounded ratio ratio-1x1" src="img/june2.jpg" alt="June Drieling" />
    </div>
    <div class="card-body">
        <h5 class="card-title">June Drieling</h5>
        <h6 class="card-text">Director of Education</h6>
        <p class="card-text"><small class="text-muted"><a href="mailto:education@bruknernaturecenter.com">education@bruknernaturecenter.com"</a></small></p>
    </div>
    <div class="card-footer">
        <span><i class="fas fa-phone"></i></span>
        <a href="tel:9076986493">(907) 698-6493</a>
    </div>
  </div>
</div>