<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <img src="img/campfire.jpg" alt="camp fire" class="img-fluid" />
    </div>
    <div class="card w-50">
        <div class="card-body text-center">
            <h4 class="card-title">Summer Camp</h4>
            <p>Sign up your 'junior naturalist', who are going into grades K – 5th, for a week of outdoor adventures, wild games and wildlife encounters sure to inspire & awe!</p>
            <h5>Three camp experiences</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">June 15 - 19 "Strive to Survive"
                </li>
                <li class="list-group-item">June 29 - July 3 "Strive to Survive"
                </li>
                <li class="list-group-item">July 13 - 17 "Wild Like Me"
                </li>
                <li class="list-group-item">Explore half day (9:00am-12:00pm)
                </li>
            </ul>

            <h5 class="card-title">Cost/Week of camp</h5>
            <p>$75 for BNC Members</p>
            <p>$100 for nonmembers</p>
            <p>(CASH OR CHECK ONLY)</p>
            <p>Deadline for all camps is the Wednesday before camp.</p>

            <h5 class="card-title">Additional Information</h5>
            <p>Check out our summer evening program "Where the Wild Things Are" for kids entering grades K-5th on Friday, July 24 and our "Stillwater Adventure" in July!</p>
            <p>Details are in our Summer Brochure!</p>
            <h5 class="card-title">Links</h5>
            <a href="pdf/summer_brochure.pdf" target="_blank" class="btn btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Summer Brochure!</a>
            <a href="pdf/bnc_medical-consent-form.pdf" target="_blank" class="btn btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Medical Consent Form</a>
        </div>
        <div class="card-footer text-center">
            <small>Medical consent form must be completed before attending any of our programs</small>
        </div>
    </div>
</div>