<h1>Summer Camp</h1>
<p>Sign up your 'junior naturalist', who are going into grades K – 5th, for a week of outdoor adventures, wild games and wildlife encounters sure to inspire & awe!

</p>
<h3>Three camp experiences</h3>
<p>June 15 - 19 "Strive to Survive"</p>
<p>June 29 - July 3 "Strive to Survive"</p>
<p>July 13 - 17 "Wild Like Me"</p>
<p>Explore half day (9:00am-12:00pm)</p>
<p>$75 for BNC Members

</p>
<p>$100 for nonmembers

</p>
<p>Cash or check only.  Prices are for entire week of camp!

</p>
<p>Deadline for all camps is the Wednesday before camp.

</p>
<p>Email <a href="mailto:info@bruknernaturecenter.com">info@bruknernaturecenter.com</a> to preregister!

</p>
<p>Check out our summer evening program "Where the Wild Things Are" for kids entering grades K-5th on Friday, July 24 and our "Stillwater Adventure" in July!

</p>
<p>Details are in our Summer Program Brochure!

</p>
<a href="pdf/summer_brochure.pdf"><p>Click to see our Summer Brochure!</p></a>

<a href="pdf/bnc_medical-consent-form.pdf"><p>Click here for Medical Consent Form</p></a>
