<h1>The Art of Nature</h1>
<h5>4:30-7:30pm</h5>
<p>This special evening, devoted to art and the environment, is a time to discover local artists inspired by nature, mingle with friends and family and show your support of our mission of wildlife conservation through education, preservation, and rehabilitation.

</p>
<p>Come meet our featured artist, enjoy organic wines, gourmet hors d’oeuvres, an amazing dessert bar and unique silent auction items, showcasing local companies, wildlife encounters, eco-artists and the amazing (and often surprising!) talents of our staff and trustees!

</p>
<h3>Admission</h3>
<p>Admission is just $50/person and all proceeds support BNC's mission to promote the appreciation and understanding of wildlife conservation through preservation, education, and rehabilitation.

</p>
<p>Call us today to make sure your name is on the invitation list.  We hope to see you there!

</p>