<h1>Wildlife Rehab</h1>
<h3>What you should do if...</h3>
<h5>A baby bird falls out its nest</h5>
<p>Simply place the baby back in the nest.  If this is not possible, clip a berry basket lined with dry grasses to a nearby branch and place the baby inside.  Check the following day to see if the young is warm and alert.

</p>
<h5>A nest of baby bunnies is found</h5>
<p>Do not disturb them.  Mother rabbits visit their nest only in the early morning and late evening.  Simply keep your dog or cat in at night and cover the nest with an item such as a laundry basket or milk crate during the day.

</p>
<h5>A baby squirrel falls from his nest</h5>
<p>Make a reunion box out of a cardboard box approximately 12 inches square.  Cut a 3” diameter hole about 3 inches from the bottom of one side.  Place the youngster inside the box with a warm water bottle or handwarmer under the towel and tape it shut.  Put the box in the vicinity of the nest or where the youngster was found and give mother 5 hours free of disturbance to reclaim her young.

</p>
<h5>You find an injured bird unable to fly?</h5>
<p>Fledglings cannot fly, but are learning and still being fed by their parents. If necessary, simply move the youngster out of danger.

</p>
<h5>
    You discover a litter of young raccoons
</h5>
<p>
    Make a reunion box out of a cardboard box approximately 18" square. Cut a 5" diameter hole about 5" from the bottom of one side. Warm the youngsters up on a heating pad set on low then place them inside the box and tape it shut. Put the box as close as possible to where the mother enters your house and give her 5 hours free of disturbance to reclaim her young.

</p>
<h2>4 Steps to Animal Rescue</h2>
<h3>Is the animal..</h3>
<h5>clearly injured?</h5>
<p>Call to speak with one of our staff in our wildlife rehab unit at (937) 698-6493.</p>
<h5>sick or acting strangely?</h5>
<p>Call your county County Wildlife Officer or police non-emergency number.

</p>
<h5>an uninjured nestling?
</h5>
<p>Simply return the young animal to its nest.

</p>
<h5>
    an older uninjured youngster?
</h5>
<p>
    Please leave it alone and keep pets and children away so it isn't scared!


</p>
<p>Many wild animals are taken from their homes in error. If you have any questions concerning wildlife in need, please call Brukner Nature Center at 937-698-6493 first!  We are available 7 days a week to answer your calls. If you are calling after 5pm, you will be directed to call our emergency after hours advice line.</p>
<h2>Additional Resources</h2>
<p>Always call Brukner Nature Center first at 937-698-6493

for help and advice!</p>
<a href="http://www.owra.org/"><p>Click link to go to owra.org to learn how to become a licensed wildlife rehabilitator</p></a>
<a href="http://www.dnr.state.oh.us/Home/wild_resourcessubhomepage/about_the_division_landingpage/contactdefault/contarctsd51/tabid/17972/Default.aspx"><p>Click link to go to Ohio Division of Wildlife</p></a>
<a href="https://docs.google.com/document/d/1l5Iyj4-aZ5vh7hPzXjWxNdSU-PVvNrK5sHMhb7KdTTA/edit?ts=5caf9740"><p>Click for Reference Guide for Assisting Wildlife</p></a>