<h1>Wild Art!</h1>
<h3>Fun painting events for children and adults</h3>
<p>Fun painting events for children & adults.
Join us for a unique FUNdraising event as we help
you paint a portrait of wildlife at Brukner Nature
Center. A BNC naturalist will provide an engaging
introduction to the natural history of these
woodland creatures, then Lisa Bauer of the

Mayflower Arts Center will guide you as you paint</p>
<h3>Upcoming Dates</h3>
<p>Sunday, November 1
:00-4:00pm

(will be held at BNC!)

Wild Art!

"Elements of Autumn"
ages: 13 - adult

Cost: $35/person

(cash or check)

16"x20" canvas

 

for pat
Friday, October 30 by 5:00pm - cash or check
Pre-register by calling <a href="tel:9376986493">937-698-6493</a>
</p>
<p>All proceeds benefit the Brukner Nature Center Wildlife Ambassador program.

</p>