<h1>Winter Camp</h1>
<h3>Winter Wildlife Myths</h3>
<p>Monday, December 21 & Tuesday, December 22

</p>
<p>Kids in grades K-5th</p>
<p>9:30am - 11:30am</p>
<p>When the air turns frigid and the frost settles on the
windows, children 4 ll with anticipation of winter
vacation. Sign your child up for a morning of
exploration and fill their new found free time with fun
and learning. During this winter vacation we will
investigate the truth behind some popular wildlife
myths! Do all birds migrate for winter? Do squirrels
really hibernate? Come meet our wildlife ambassadors
and learn what's fact and what's fiction!</p>

<p>Register for one or both days:
Monday's topic is mammals

Tuesday's topic is birds</p>

<p>PRICE PER DAY OF CAMP</p>

<p>$15 for BNC Members + $20 for non-members
(may register for 1 or 2 days: cash or check)</p>
<p>
Deadline: Wednesday, December 16 by 5:00pm</p>
<a href="pdf/bnc_medical-consent-form.pdf"><p>Click here for Medical Consent Form</p></a>