<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <img src="img/opossum.jpg" alt="opossum" class="img-fluid" />
    </div>
    <div class="card w-50">
        <div class="card-body text-center">
            <h4 class="card-title">Winter Camp</h4>
            <p>When the air turns frigid and the frost settles on the windows, children 4 ll with anticipation of winter vacation. Sign your child up for a morning of exploration and fill their new found free time with fun and learning. During this winter vacation we will investigate the truth behind some popular wildlife myths! Do all birds migrate for winter? Do squirrels really hibernate? Come meet our wildlife ambassadors and learn what's fact and what's fiction!</p>
            <h5>Winter Wildlife Myths</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Monday, December 21 & Tuesday, December 22
                </li>
                <li class="list-group-item">Kids in grades K-5th
                </li>
                <li class="list-group-item">July 13 - 17 "Wild Like Me"
                </li>
                <li class="list-group-item">9:30am - 11:30am
                </li>
            </ul>

            <h5 class="card-title">Cost/Day of camp</h5>
            <p>$15 for BNC Members</p>
            <p>$20 for nonmembers</p>
            <p>may register for 1 or 2 days (CASH OR CHECK ONLY)</p>
            <p>Deadline: Wednesday, December 16 by 5:00pm.</p>

            <a href="pdf/bnc_medical-consent-form.pdf" target="_blank" class="btn btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Medical Consent Form</a>
        </div>
        <div class="card-footer text-center">
            <small>Medical consent form must be completed before attending any of our programs</small>
        </div>
    </div>
</div>