<h1>Young Birders Club</h1>
<p>Come be a part of one of the most exciting and rewarding clubs, geared specifically for young birders in grades 6 through 12!   As a member of Brukner Nature Center’s Young Birders Club you’ll enjoy the opportunity to:

</p>
<ul>
    <li>Discover and study the amazing birds found
at Brukner Nature Center through hands-on monthly meetings and hikes!</li>
<li>Get experience using BNC’s high quality binoculars and field guides during our meetings, hikes and special events, so no extra equipment is needed!
</li>
<li>Join in field trips and other special events with BNC staff and the BNC Bird Club adults!
</li>
<li>Network with other young naturalists and professional ornithologists during opportunities for young birders around the state!
</li>
<li>Apply for scholarships to attend summer camps, workshops, classes, training programs, conventions and other bird-related activities!
</li>
</ul>
<p>Membership is only $10.00 per year and due at the 3rd meeting you attend.

</p>
<p>For more information email: <a href="mailto:brian@brukneraturecenter.com">brian@brukneraturecenter.com</a></p>
<p class="text-center">Click below for the young birders club membership form</p>
<div class="col text-center mb-3">
<a href="pdf/ybc_membership.pdf" target="_blank" class="btn btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Membership Form</a>
</div>